/******** 
reset 
********/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }


.container {
    display: flex;
}

.debug{
    /* display: none; */
    border: 1px dashed #000000; 
}




/*****************
    top 
*****************/

/*******
top-1
*******/

header{
    background-color: #add8e6;
    padding: 15px 0 5px;
}

.top-1{
    background-color: #daa520;
    max-width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}

.top-item{
    padding: 15px;
    flex-shrink: 0;
}

#logo {
    flex-grow: 1;
}

#link{
    flex-grow: 3;
    list-style: none;
    justify-content: center;
    gap: 5px;
}

#login{
    flex-grow: 1;  
    justify-content: end;
}

/*******
top-2
*******/

#top-2{
    background-color: #00008b;
    padding: 50px 0;
    margin-top: 15px;

}

.top-item-2{
    background-color: #ee82ee;
    max-width: 65%;
    margin: 0 auto;
}

.debug-top-2{
    /* display: none; */
     height: 400px;
}




/*****************
    main
*****************/


.main-1{
    flex-direction: column;
}

.main-item{
    padding: 50px;   
    justify-content: center;  
}

.main-item:nth-child(even) {
    background-color: #d3d3d3;
}

.main-item:nth-child(even) #main-item-3{
   order: -1; 
} 




/*******
main-items-secondo-livello
*******/


#main-item-2{
    background-color: #1e90ff;
    flex-grow: 3;
    flex-shrink: 0;
}

#main-item-3{
    background-color: #ffc0cb;
    flex-grow: 2;
    flex-shrink: 0;
}

.debug-main-item-2{
    height: 500px;
}

#main-item-4{
    background-color: #228b22;
    flex-shrink: 0;
    flex-grow: 1;
}

.debug-main-item-4{
    height: 900px;
}