/******** 
reset 
********/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }


.flex-box {
    display: flex;
}

.debug{
    /* display: none; */
    border: 1px dashed #000000; 
}




/*****************
    top 
*****************/

/*******
top 1
*******/

header{
    background-color: #add8e6;
    padding: 15px 0 5px;
}

.top-1{
    background-color: #daa520;
    max-width: 89%;
    margin: 0 auto;
    justify-content: space-between;
}

.top-item{
    padding: 15px;
    flex-shrink: 0;
}

#logo {
    flex-grow: 1;
}

#link{
    flex-grow: 3;
    list-style: none;
    justify-content: center;
    gap: 5px;
}

#login{
    flex-grow: 1;  
    justify-content: end;
}

/*******
top 2
*******/

#top-2{
    background-color: #00008b;
    padding: 50px 0;
    margin-top: 15px;
}

.top-item-2{
    background-color: #ee82ee;
    margin: 0 auto;
}

.debug-top-2{
    /* display: none; */
    height: 400px;
    width: 900px;
}




/*****************
    main 
*****************/